.timer{
    margin-top: 50px;
    display: flex;
}

.field{
    font-size: 25px;
}
.field:not(:last-child){
    margin-right: 50px;
    font-size: 25px;
}

.value{
    color:orange;

}

.label{
    color: blue;
}

button {
    min-width: 100px;
    max-width: 150px;

    font-size: 14px;

    border-radius: 5px;
    outline: none;
    background-color: blue;
    border-color:blue;
    color:white;  
    
    cursor: pointer;
    
}

button[disabled] {
    
    background-color: transparent;
    color:orange;
    border-color: blue;
}
